---
import { Code } from "astro:components";

import Layout from "../layouts/Layout.astro";

import CopyCodeButton from "../components/CopyCodeButton.astro";
import PresetsCodeBlock from "../components/PresetsCodeBlock.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

const code = "curl -fsSL https://tryphp.dev/install.sh | bash";
---

<Layout>
  <main class="flex flex-col gap-12 mx-auto px-4 py-10 max-w-4xl">
    <nav class="flex justify-between items-center">
      <p class="flex items-center gap-2 font-bold text-xl">
        <svg
          class="fill-current"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 20 20"
          ><path
            fill-rule="evenodd"
            d="M10 12v8A10 10 0 0 1 8.17.17L10 2h5a5 5 0 0 1 5 4.99v9.02A4 4 0 0 1 16 20v-2a2 2 0 1 0 0-4h-4l-2-2zm5.5-3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
          ></path></svg
        >
        TryPHP
      </p>
      <div class="flex items-center space-x-4">
        <ThemeToggle />
        <a
          href="https://github.com/mhdcodes/tryphp"
          class="hover:opacity-80 transition-opacity"
          aria-label="visit TryPHP GitHub repository"
        >
          <svg
            width="30"
            height="30"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            viewBox="0 0 24 24"
            class="fill-current"
            ><path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path></svg
          >
        </a>
      </div>
    </nav>

    <header class="-mb-6">
      <h1 class="mb-2 font-bold text-2xl">
        Effortlessly set up <a
          href="https://www.php.net"
          class="hover:underline"
          aria-label="visit PHP official website">PHP</a
        > on Linux with a simple curl command 🚀.
      </h1>
      <p class="text-base text-gray-700 dark:text-gray-300">
        Simply run the following command in your terminal to install the latest
        version of PHP and all its dependencies including composer.
      </p>
    </header>

    <section class="relative">
      <Code
        class="mb-2 p-4 rounded"
        code={code}
        lang="bash"
        theme="catppuccin-mocha"
      />
      <CopyCodeButton code={code} />

      <p class="flex items-center text-gray-700 text-sm dark:text-gray-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-2 fill-none stroke-current"
        >
          <polyline points="4 17 10 11 4 5"></polyline>
          <line x1="12" x2="20" y1="19" y2="19"></line>
        </svg>
        After running the command above, you should restart your terminal session.
      </p>
    </section>

    <section>
      <h2 class="mb-4 font-semibold text-2xl">What is TryPHP?</h2>
      <p class="text-lg">
        This tool simplifies the often time-consuming task of setting up a PHP
        environment on Linux. With just a single curl command, you can instantly
        install the latest PHP version, complete with all required dependencies
        and Composer. It's perfect for developers and system administrators
        seeking a fast, efficient setup.
      </p>
    </section>

    <section>
      <h2 class="mb-4 font-semibold text-2xl">Features</h2>
      <ul class="space-y-2 pl-6 list-disc">
        <li>🔄 Install and switch between multiple PHP versions</li>
        <li>📦 Automatic Composer installation</li>
        <li>🧩 Automatic PHP extensions installation</li>
        <li>🛠️ Development environment configuration</li>
        <li>🔒 Secure installation process</li>
      </ul>
    </section>

    <section>
      <h2 class="mb-4 font-semibold text-2xl">Custom Install</h2>
      <p class="mb-4 text-lg">
        You can install custom php versions or tailored presets for various
        frameworks and applications. for example, the laravel preset installs
        php with all the extensions needed to run a laravel application.
      </p>
      <PresetsCodeBlock
        presets={[
          {
            id: "php74",
            preset: "PHP7.4",
            code: "curl -fsSL https://tryphp.dev/7.4/install.sh | bash",
          },
          {
            id: "php81",
            preset: "PHP8.1",
            code: "curl -fsSL https://tryphp.dev/8.1/install.sh | bash",
          },
          {
            id: "php82",
            preset: "PHP8.2",
            code: "curl -fsSL https://tryphp.dev/8.2/install.sh | bash",
          },
          {
            id: "php83",
            preset: "PHP8.3",
            code: "curl -fsSL https://tryphp.dev/8.3/install.sh | bash",
          },
          {
            id: "laravel",
            preset: "Laravel",
            code: "curl -fsSL https://tryphp.dev/presets/laravel | bash",
          },
        ]}
      />
    </section>

    <section>
      <h2 class="mb-4 font-semibold text-2xl">FAQ</h2>
      <ul class="space-y-2 pl-6 list-disc">
        <li>
          <span class="font-bold"
            >Does this tool generate scripts at request time that could be
            altered to harm users?</span
          > No, all scripts are pre-built to ensure security and integrity.
        </li>
        <li>
          <span class="font-bold"
            >Does this tool support other operating systems like Windows or Mac
            ?</span
          > Not yet, it's currently Linux-only.
        </li>
        <li>
          <span class="font-bold"
            >Does this tool install any affiliated code or packages?</span
          > No, it's fully open-source. You can review and access the source code
          directly on our GitHub repository.
        </li>
        <li>
          <span class="font-bold">How can I support this project? </span>You can
          contribute code to our GitHub repository or make a donation.
        </li>
      </ul>
    </section>
  </main>
</Layout>
