---
const { code } = Astro.props;
---

<button
  class="top-[0.9rem] right-2 absolute bg-gray-700 hover:bg-gray-600 px-2 copy-code py-1 rounded font-bold text-sm text-white"
  data-code={code}
>
  Copy
</button>

<script>
  function copyToClipboard(text: string | null) {
    navigator.clipboard.writeText(text ?? "").catch((err) => {
      console.error("Error copying text: ", err);
    });
  }

  // Select all buttons with the copy-code class
  const buttons = document.querySelectorAll<HTMLButtonElement>(".copy-code");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const code = button.getAttribute("data-code");
      copyToClipboard(code);
      button.textContent = "Copied!";
      setTimeout(() => {
        button.textContent = "Copy";
      }, 2000);
    });
  });
</script>
